body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
h2{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}
h3{
    text-align: center;
    font-size: 18px;
}
form, p{
    font-size: medium;
    text-align: center;
}
.wrapper{
    text-align: center;
}
.button{
    position: absolute;
    top: 150%;
}
.day{
    font-size: large;
}

