body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
form, p{
    font-size: medium;
    text-align: center;
}
.wrapper{
    text-align: center;
}
.button{
    position: absolute;
    top: 150%;
}